/* Styles for the table */
.mat-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
  }
  
  /* Styles for the table header cells */
  .mat-header-cell {
    font-weight: bold;
    text-align: center;
    background-color: #007bff !important;
    color: #ffff !important;
  }
  
  /* Styles for the table row cells */
  .mat-cell {
    text-align: center;
    padding: 8px;
  }
  
  /* Styles for even rows */
  .mat-row:nth-of-type(even) {
    background-color: #f2f2f2;
  }
  
  /* Styles for selected rows */
  .mat-row.mat-row-selected {
    background-color: #007bff;
    color: #fff;
  }
  
  .table-striped tbody tr.odd {
    background-color: #f9f9f9;
  }
  
  .table-striped tbody tr.even {
    background-color: #ffffff;
  }